<div>
  <div class="container for-you">
    <div class="heading heading-flex mb-3">
      <div class="heading-left">
        <h2 class="title">{{this.productPages.title}}</h2><!-- End .title -->
      </div><!-- End .heading-left -->

      <div class="heading-right">
        <a href="{{this.productPages.actionUrl}}" class="title-link">{{this.productPages.actionName}}<i class="icon-long-arrow-right"></i></a>
      </div><!-- End .heading-right -->
    </div><!-- End .heading -->

    <div class="products">
      <div class="row justify-content-start item">
        <app-product-card
          *ngFor="let product of this.productPages.products | paginate: { itemsPerPage: 10, currentPage: currentPageIndex }"
                          [productInfo]="product"></app-product-card>
      </div><!-- End .row -->
      <pagination-controls (pageChange)="currentPageIndex = $event"></pagination-controls>
    </div><!-- End .products -->
  </div><!-- End .container -->

</div>
